In [20]:
import datetime as dt
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

end = dt.datetime.now()
start = dt.datetime(2000,1,1)
start, end

stockList = ['CBA', 'NAB', 'WBC', 'ANZ']
stocks = [i + '.AX' for i in stockList]
stocks

df = pdr.get_data_yahoo(stocks, start, end)
df.head()

[*********************100%%**********************]  4 of 4 completed

Price      Adj Close                                    Close             \
Ticker        ANZ.AX    CBA.AX    NAB.AX    WBC.AX     ANZ.AX     CBA.AX
Date
2000-01-03  2.802652  7.350955  5.611833  3.035200  10.503008  26.088652
2000-01-04  2.701230  7.266881  5.419155  2.978290  10.122924  25.790268
2000-01-05  2.627882  7.104335  5.310770  2.923404   9.848051  25.213392
2000-01-06  2.562375  6.964211  5.226472  2.917627   9.602560  24.716087
2000-01-07  2.597531  7.034274  5.272233  2.917627   9.734310  24.964741

Price                                  High             ...        Low  \
Ticker         NAB.AX     WBC.AX     ANZ.AX     CBA.AX  ...     NAB.AX
Date                                                    ...
2000-01-03  22.164883  10.435952  10.503008  26.088652  ...  22.164883
2000-01-04  21.403856  10.240284  10.473625  26.058813  ...  21.308727
2000-01-05  20.975779  10.051568   9.933356  25.392424  ...  20.785522
2000-01-06  20.642830  10.031704   9.904921  25.362585  ...  20.642830
2000-01-07  20.823574  10.031704   9.857529  25.113932  ...  20.623804

Price                       Open                                    Volume  \
Ticker         WBC.AX     ANZ.AX     CBA.AX     NAB.AX     WBC.AX   ANZ.AX
Date
2000-01-03  10.435952  10.503008  26.088652  22.164883  10.435952        0
2000-01-04  10.240284  10.312492  26.058813  21.869984  10.448864  3337030
2000-01-05  10.001907   9.904921  25.353634  20.918701  10.063487  6259140
2000-01-06   9.942312   9.904921  25.362585  21.207891  10.081366  6737175
2000-01-07   9.982042   9.667961  24.913021  20.737959  10.031704  3507662

Price
Ticker       CBA.AX   NAB.AX   WBC.AX
Date
2000-01-03        0        0        0
2000-01-04  1018072  3005390  2324971
2000-01-05  2191283  4604126  2456811
2000-01-06  1505531  2574906  4354261
2000-01-07  1414040  3028993  2360114

[5 rows x 24 columns]